.UiStyle {
  margin: 11px 3px 3px 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rowStyle {
  display: flex;
  flex-direction: row;
}

.newspaper {
  column-count: 2;
}

.searchable-component-style {
  display: flex;
  flex-direction: row;

  border-radius: 6px;
  padding: 6px;

  align-items: center;
  margin: 4px;
  min-height: 40px;
  cursor: pointer;
}

.selectedCard {
  background-color: #fff;

  box-shadow: #ccc 4px 4px 4px;
  padding: 8px;
  min-height: 40px;
  border: 0.1px solid #eee;
}

input.largerCheckbox {
  width: 20px;
  height: 20px;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.contianer {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.selectedCardActive {
  /* background-color: #fff; */
  /* box-shadow: 0px 0px 6px #ccc; */
  box-shadow: #a1d4d6eb 4px 4px 4px;
  background-color: #e4f8f5;
  padding: 8px;
  min-height: 40px;
  /* width: 15vw; */
}
